@font-face {
  font-family: "iconfont"; /* Project id 3784829 */
  src: url('iconfont.woff2?t=1704767617399') format('woff2'),
       url('iconfont.woff?t=1704767617399') format('woff'),
       url('iconfont.ttf?t=1704767617399') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jian:before {
  content: "\e621";
}

.icon-cs-jt-xy-1-1:before {
  content: "\e632";
}

.icon-cs-jt-xz-1-1:before {
  content: "\e633";
}

.icon-OA-ohter-9:before {
  content: "\e76b";
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-back:before {
  content: "\e617";
}

.icon-jiantou-shang:before {
  content: "\e6cd";
}

.icon-yanjing-bi:before {
  content: "\e61d";
}

.icon-yanjing_xianshi:before {
  content: "\eb46";
}

.icon-shouyefill:before {
  content: "\e750";
}

.icon-bucket:before {
  content: "\e6c1";
}

.icon-color:before {
  content: "\e65f";
}

.icon-jiantou-you:before {
  content: "\e6cf";
}

.icon-diandiandianshu:before {
  content: "\e679";
}

.icon-caidan:before {
  content: "\e612";
}

.icon-shujuzidian:before {
  content: "\e666";
}

.icon-renyuan:before {
  content: "\e645";
}

.icon-zuzhi:before {
  content: "\e712";
}

.icon-jiaose:before {
  content: "\e63d";
}

.icon-shujuzidian1:before {
  content: "\e6a8";
}

.icon-guanbi1:before {
  content: "\e795";
}

.icon-yunweizhongxinzhihangjilu:before {
  content: "\e654";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-anniu-jiantouxiangyou:before {
  content: "\eb03";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-quanping:before {
  content: "\e630";
}

.icon-weixin:before {
  content: "\e62f";
}

.icon-icon_level:before {
  content: "\e619";
}

.icon-paixu:before {
  content: "\e64e";
}

.icon-hujiaobaobiao:before {
  content: "\e77e";
}

.icon-yibiaopan:before {
  content: "\eab4";
}

.icon-jiantou-zuo:before {
  content: "\e631";
}

.icon-shezhi:before {
  content: "\e817";
}

.icon-logout:before {
  content: "\ec05";
}

.icon-shouqicebianlan2x:before {
  content: "\e638";
}

.icon-zhankaicebianlan2x:before {
  content: "\e641";
}

.icon-tuichuquanping:before {
  content: "\e792";
}

.icon-tuodong:before {
  content: "\e61c";
}

.icon-duigou-cu:before {
  content: "\e620";
}

.icon-tuandui:before {
  content: "\e7d6";
}

.icon-a-icon_gantanhaojingshi:before {
  content: "\e64c";
}

.icon-dui:before {
  content: "\e68b";
}

.icon-dianhuatianchong:before {
  content: "\e678";
}

.icon-bianji:before {
  content: "\e655";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-icon_arrow_top:before {
  content: "\e60e";
}

.icon-jiantouxia:before {
  content: "\e61e";
}

.icon-jiantouyou:before {
  content: "\e61f";
}

.icon-35_xiangxiajiantou:before {
  content: "\e61b";
}

.icon-wenhao-xianxingyuankuang:before {
  content: "\e8e9";
}

.icon-required:before {
  content: "\e697";
}

