.ljs-top-vue3 {
  width: 100%;
  .topZw {
    width: 100%;
    .comStatus {
      width: 100%;
      position: relative;
    }
    .topMain {
      width: 100%;
    }
  }
  .top {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .topBgImage {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
	  overflow: hidden;
    }
    .topBgColor {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .comStatus {
      width: 100%;
      position: relative;
      z-index: 3;
    }
    .topMain {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      z-index: 3;
      .back {
        width: 60upx;
        height: 60upx;
        box-sizing: border-box;
        padding: 10upx;
        position: absolute;
        left: 20upx;
        z-index: 2;
        .img {
          width: 40upx;
          height: 40upx;
          display: block;
        }
      }
      .title {
        width: 100%;
        color: #fff;
        font-size: 32upx;
        position: absolute;
        top: 0;
        left: 0;
		box-sizing: border-box;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
      }
    }
  }
}
