
// .el-upload--picture-card 控制加号部分
:deep(.hide .el-upload--picture-card) {
  display: none;
}
// 去掉动画效果
:deep( .el-list-enter-active),
:deep( .el-list-leave-active) {
  transition: all 0s;
}

:deep( .el-list-enter), .el-list-leave-active {
  opacity: 0;
  transform: translateY(0);
}